{% extends "base.html" %}

{% block content %}
<h1>Hello {{ title }}!</h1>
<form action="/user" method="GET" enctype="application/x-www-form-urlencoded">
    <p>
        <label for="{{ form.username.id }}">{{ form.username.label }}</label>
        <input id="{{ form.username.id }}" type="{{ form.username.field_type }}" name="{{ form.username.name }}"
            value="{{ form.username.value }}" {{ form.username.other_attrs | safe }}>
    </p>
    <p>
        <label for="{{ form.email.id }}">{{ form.email.label }}</label>
        <input id="{{ form.email.id }}" type="{{ form.email.field_type }}" name="{{ form.email.name }}"
            value="{{ form.email.value }}" {{ form.email.other_attrs | safe }}>
    </p>
    <button>Send</button>
</form>
{% endblock content %}